@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pf-beausans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }


}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pf-beausans), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* Custom Scrollbar for Category Tree */
.category-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.category-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.category-scrollbar::-webkit-scrollbar-thumb {
  background: #FFB7B2;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.category-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #FF9AA2;
}